<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;" ng-controller="Dashboard">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Welcome to Teacher Pi {{user_data.username | uppercase}}</small>
        </div>        
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md" ng-controller="Dashboard">
    <div class="m-b-md">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="col-sm-6" ng-show="httpStatus" ng-repeat="course in courses">
      <div class="panel b-a" >
        <div class="panel-heading text-center bg-primary no-border">
          <!-- <h4 class="text-u-c m-b-none">Start</h4> -->
          <h4 class="m-t-none">
            <span class="text-2x text-lt">{{course.course_code}}</span>
          </h4>
        </div>
        <h4 class="m-t-none text-center">
            <span class="list-group-item">{{course.course_title}}</span>
        </h4>        
        <div class="panel-footer" >
        <!-- <span ng-controller="EditCourse">
        <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/modal.form.html'"></div>
          </script>
        <button class="btn btn-default font-bold m" ng-click="open('lg')">Edit Course</button>
        </span>         -->
        <button class="btn btn-default font-bold m" ng-click="editCourse(course)">Edit Course</button>
        <button class="btn btn-default font-bold m" ng-click="deleteCourse(course)"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="submit" class="btn btn-success pull-right font-bold m" ng-click="startClass(course.course_code, course.duration)" ng-disabled="course.started || started">
              <span class="text" ng-hide="loading">Start Class</span>
              <span class="text" ng-show="loading">Starting...</span> 
              <i class="fa fa-spin fa-spinner" ng-show="loading"  ng-class="{'fa-spin' : loading}"id="spin"></i>
        </button>
        <!-- <button type="submit" class="btn btn-default disabled pull-right font-bold m" ng-click="stopClass()" ng-show="started">
              <span class="text" ng-hide="loading">End Class</span>
              <span class="text" ng-show="loading">Ending...</span> 
              <i class="fa fa-spin fa-spinner" ng-show="loading"  ng-class="{'fa-spin' : loading}"id="spin"></i>
        </button> -->
        <!-- <button class="btn btn-success pull-right font-bold m">Start Class</button> -->
        </div>
      </div>
    </div> 
      

      
      <!-- <div class="panel hbox hbox-auto-xs no-border">       
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          <h4 class="font-thin m-t-none m-b">Announcements</h4>       
          <p class="text-muted">.....</p>
        </div>
      </div> -->
    
    </div>
  </div>
  <!-- / main -->
 
</div>